/* CSS Document */


body {
	background: grey;	
	font-family: Georgia, sans-serif;
}

#container {
	border: 1px solid black;
	background: white;
}

#header {
	text-align: center;
}

.colorbox {
	background: orange;	
	margin-bottom: 10px;
}


.left_block img {
	margin-bottom: 10px; 
}


nav {
	text-align: center;
}

nav ul li{
	display: inline-block;
}
